<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title >
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-searchbar placeholder="buscar..."></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rKq1Vlw0Bqe2EEvdmIkkkgPQAGf.jpg">
      </ion-thumbnail>
      <ion-label   class="ion-text-wrap">
        <div>
          <h1>Viúva Negra (2021)</h1>
          <p> 08/07/2021 (BR) - 2h 13m</p>
          <p>Ação, Aventura, Ficção científica</p>
          
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>

    </ion-item>
  </ion-list>

</ion-content>
