<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Sobre Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <img src="https://avatars.githubusercontent.com/u/61022071?s=400&u=999a824774dd160817da6cdc6c539fdde0e81b2c&v=4"
    alt="perfil">

  <h1>Maria Clara Cantizano</h1>
  <p>Aluna da Etec"Cidade do Livro" </p>
  <a href="maria.cantizano@etec.sp.gov.br"> maria.cantizano@etec.sp.gov.br</a>


</ion-content>